/* 
    Document   : construtor_estilos_textos_corridos
    Created on : 08/08/2013, 17:38:15
    Author     : tongarcia
    Description:
        Purpose of the stylesheet follows.
*/

@import url("contribuicoes_opensource.css");
@import url("cursos_extensao.css");
@import url("experiencias.css");
@import url("graduacao.css");
@import url("idiomas.css");
@import url("meus_opensource.css");

/** Minha definição de icones **/
[class^="ton_icon-"], [class*=" ton_icon-"] {
    display: inline-block;
    width: 19px;
    height: 18px;
    color: #000;
    vertical-align: text-top;
    background-repeat: no-repeat;
}

.ton_icon-logo_ucb {
    width: 27px;
    background-image: url("../../logos/ucb_logo.png");
}

.ton_icon-logo_unb {
    width: 35px;
    background-image: url("../../logos/unb_logo.jpeg");
}

#texto_corrido_ajax {
    height: 460px;
    overflow: scroll;
    overflow-x: hidden;
}

#texto_corrido_ajax h3 {
    border-bottom: 1px solid #dfcfdf;
    width: 605px;
}

#texto_corrido_ajax > div {
    min-height: 455px;
}