/** REFATORAÇÃO DOS ALERTS PARA O MEU LAYOUT **/
#content_textos .alert, #content_textos .well {
    padding: 8px 8px 8px 14px;
}

/** Refatoração no espaçamento do header **/
#content_textos h5 span {
    float: right;
    margin-bottom: 5px;
}

#content_textos .alert h5 > i {
    margin-top: -2px;
}

#content_textos .alert-success {
    background: #D0F5C0;
    border-color: #3ad23d;
}

#content_textos .alert-info {
    border-color: #06d5ff;
}

#content_textos .well {
    border-color: #cbcbcb;
}

#content_textos .alert-danger {
    border-color: #b94a48;
}

.alert-success .header_alerta {
    border-bottom: 1px solid #a0d4a1;
}

.alert-info .header_alerta {
    border-bottom: 1px solid #a2e5df;
}

.alert-danger .header_alerta {
    padding-bottom: 0;
    border-bottom: 1px solid #e5a2a2;
}

.well .header_alerta {
    border-bottom: 1px solid #dee2e3;
}

.alert-danger > .header_alerta > h5 { 
    margin-bottom: 2px;
}

.header_alerta {
    padding-bottom: 0;
    margin-bottom: 18px;
}

.alerta_coluna_2 {
    margin-right: 5px;
    float: right;
}
/** FIM DA REFATORAÇÃO DOS ALERTS PARA O MEU LAYOUT **/

.materias_cursadas {
	margin-top: 10px;
}

.materias_cursadas > span {
	text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

/** Italico nas matérias cursadas (os links) **/
.lista_materias_cursadas a:hover {
    font-style: italic;
}

.lista_materias_cursadas a {
	-webkit-transition: 0.30s ease-in all;
    -moz-transition: 0.30s ease-in all;
    -ms-transition: 0.30s ease-in all;
    -o-transition: 0.30s ease-in all;
    transition: 0.30s ease-in all;
    font-style: normal;
}

.materias_cursadas ul {
    margin: 5px 0 10px 0;
    padding: 3px 5px;
    border-radius: 5px;
}


.materias_unb a {
    color: #00bc12;
}

.materias_unb a:hover {
    color: #049111;
}

.materias_ucb a {
	color: #00afd5;
}

.materias_ucb a:hover {
    color: #008ebc;	
}

.materias_unb {
    background: #E9FAEB;
}

.materias_ucb {
    background: #E9EFFA;
}
