/* 
    Document   : meus_fast_fix
    Created on : 30/07/2013, 01:17:48
    Author     : TonGarcia
    Description:
        Purpose of the stylesheet follows.
*/

body {
    cursor: default;
}

#about_me {
    background: white;
}

.container > .inner {
    margin-top: -30px;
}

header {
    padding-bottom: 5px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
}

#btns_acoes > a {
    padding-bottom: 0px;
    padding-top: 4px;
}

#about_me .caption {
    padding-bottom: 2px;
}