/* 
    Document   : style
    Created on : 30/07/2013, 00:57:30
    Author     : TonGarcia
    Description:
        Purpose of the stylesheet follows.
*/

/** Parte do tema **/
@import url("stylesheet.css");

/** Bootstrap **/
@import url("css/bootstrap/css/bootstrap.min.css");

/** Meus CSS **/ 


/*
@import url("css/ton_fast_fix.css");
@import url("css/ton_novo_tema.css");*/

#content_nav_list {
	float: right;
}
