/* 
    Document   : style
    Created on : 30/07/2013, 00:57:30
    Author     : TonGarcia
    Description:
        Purpose of the stylesheet follows.
*/

/** Parte do tema **/
@import url("stylesheet.css");

/** Bootstrap **/
@import url("css/bootstrap/css/bootstrap.min.css");

/** Meus CSS **/ 
@import url("css/meus_estilos/sobre_mim/sobre_mim.css");
@import url("css/meus_estilos/nav_list/nav_list.css");
@import url("css/meus_estilos/textos_corridos/construtor_estilos_textos_corridos.css");

/** Estilos gerais **/
body {
    cursor: default;
}

div > .progress {
    margin-top: 25%;
}

.offset1 {
    margin-left: 90px;
}

.span9 {
    width: 720px;
}

header {
    padding-top: 1px;
    padding-bottom: 10px;
}

footer {
    margin-top: 0;
    padding-bottom: 0;
}

.materias_cursadas li {
    margin: 3px 0;
    text-align: center;
}

/*
.materias_cursadas li:nth-child(even) {
    float: right;
}
*/
